table{
    width: 100%;
    border-collapse: collapse;
    font-weight: 600;
}

th {
    color: white;
    background-color: black;
    border:none;
}

td:not(tfoot td){
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
}

tfoot td {
    border: 1px solid rgb(175, 175, 175);
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

img {
    width: 120px;
    height: 120px;
    border-radius: 15%;
}

.soul-stone {
    background-color: rgb(255, 185, 55);
}

.time-stone {
    background-color: green;
}

.space-stone {
    background-color: rgb(78, 110, 218);
}

.mind-stone {
    background-color: rgb(230, 230, 83);
}

.reality-stone {
    background-color: rgb(184, 61, 61);
}

.power-stone {
    background-color: rgb(143, 80, 216);
}
