table {
    background: linear-gradient(90deg, #6e0000, antiquewhite);
    border: 4px solid black;
    border-collapse: collapse;
    text-align: center;
}

th{
    color: #ffe369;
    font-weight: bold;
    background-color: rgba(110, 0, 0, 0.4);
    border: 2px solid rgba(189, 195, 199, 0.05);
    padding: 10px;
}

td:not(:first-child):not(.false-bg) {
    border: 2px solid rgba(189, 195, 199, 0.05);
    background-color: antiquewhite;
    padding: 5px 50px 5px 50px;
    color: midnightblue;
}

td:first-child {
    color: white;
    font-weight: bold;
    padding: 5px 50px 5px 50px;
}

tr:nth-child(odd):not(:last-child) {
    background-color: rgba(189, 195, 199, 0.2);
}

.false-bg {
    color: white;
    background-color: rgba(110, 0, 0, 1);
}

a {
    color:white;
    font-weight: bold;
    padding: 10xp;
}