.box {
    width: calc(100% - 200px);
    background-color: #dddddd;
    position: relative;
    margin: auto;
    padding: 25px;
}

.box::before {
    width: calc(100% + 80px);
    height: 100%;
    position: absolute;
    content: "";
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    left: -40px;
    right: 40px;
    top: -1px;
}

.box::after {
    width: 100%;
    height: calc(100% + 80px);
    position: absolute;
    content: "";
    border-right: 1px solid black;
    border-left: 1px solid black;
    right: -1px;
    bottom: 40px;
    top: -40px;
}

h1 {
    margin-left: 30px;
    padding-bottom: 50px;
}