

body, .catalog {
    height: 100%;
    margin: 0;
}

/* ~~~~~~~~~~cathalog~~~~~~~~~~ */

/* ----------upper-menu---------- */

header {
    /* display: flex; */
    flex-direction: row;
    background-color: black;
    height: 4em;
    color: white;
    justify-content: space-between;
    align-items: center;
    /* display: none; */
}

.menu-bar, .info-bar {
    display: flex;
    flex-direction: row;
}

.menu-bar {
    display: flex;
}

.info {
    margin-left: 50px;
    margin-right: 50px;
}

.logo {
    width: 200px;
    height: 50px;
    /* background-color: antiquewhite; */
    margin-left: 1%;
}

.number-bar {
    margin-right: 7%;
}

.number {
    text-decoration: underline;
}

/* ----------path-menu---------- */

.path-menu {
    margin: 0;
    background-color: #EC6000;
}

.path {
    margin: 0;
    line-height: 3em;
}

.home-path-menu {
    margin-left: 1%;
    color: white;
}

.other-path-menu {
    color: white;
}

/* ----------cathalog-page---------- */

.cathalog-page {
    display: grid;
    grid-template-areas: 
        "filter filter"
        "side good"
        "foot foot";
        margin: 2.5%;
        margin-top: 1.5%;
}

@media only screen and (min-width: 320px) {
    .cathalog-page {
        grid-template-areas: 
        "filter"
        "side"
        "good";
    }
    header {
        display: none;
    }
    .goods {
        grid-template-columns: 100%;
    }
    .list-filters {
        flex-direction: row;
    }
    footer {
        height: 5em;
    }
    .price {
        margin-left: 50px;
    }
    .product-page {
        flex-direction: column;
        justify-content: center;
    }
    .about-product {
        margin-top: 0;
        margin-left: 5%;
        text-align: center;
    }
    .product-image-div {
        margin-bottom: 0px;
        margin-left: 5%;
        margin-right: 5%;
        width: 95%;
        /* width: 400px; */
        height: 400px;
    }
    .product-image {
        /* width: 400px; */
        height: 400px;
        width: 95%;
    }
    .comment {
        width: 100%;
    }

}

@media only screen and (min-width: 768px) {
    .cathalog-page {
        grid-template-areas: 
        "filter"
        "side"
        "good";
    }
    header {
        display: none;
    }
    .goods {
        grid-template-columns: 100%;
        /* grid-template-row: auto; */
    }
    .list-filters {
        flex-direction: row;
    }
    footer {
        height: 5em;
    }
    .price {
        margin-left: 50px;
    }
    .product-page {
        flex-direction: column;
    }
    .about-product {
        justify-content: center;
        margin-top: 0;
        margin-left: 5%;
        text-align: center;
        width: 100%;
    }
    .product-image-div {
        margin-bottom: 0px;
        margin-left: 5%;
        margin-right: 5%;
        width: 400px;
        height: 400px;
    }
    .product-image {
        width: 400px;
        height: 400px;
        
    }
    .comment {
        width: 100%;
    }

}

 @media only screen and (min-width: 1024px) {
    .cathalog-page {
        grid-template-areas: 
        "filter filter"
        "side good";
        grid-template-columns: 25% 75%;
        grid-template-rows: 20% 75%;
    }
    header {
        display: flex;
    }
    .goods {
        grid-template-columns: 50% 49%;
        grid-template-rows: 47% 47% 6%;
    }
    .list-filters {
        flex-direction: column;
    }
    .pages {
        grid-column-start: 1;
        grid-column-end: 3;
    }
    footer {
        height: 30em;
    }
    .price {
        margin-left: 0px;
    }
    .product-page {
        flex-direction: row;
    }
    .about-product {
        margin-top: 10%;
        margin-left: 3%;
        text-align: start;
    }
    .product-image {
        width: 500px;
        height: 500px;
    }
    .product-image-div {
        margin: 5%;
        width: 500px;
        height: 500px;
    }
} 

.cathalog-filter {
    grid-area: filter;
}

.pages {
    display: flex;
    justify-content: center;

}

.pages-arrows {
    font-weight: 900 ;
}

.pages-num {
    background-color: rgb(196, 196, 196);
    border-radius: 50px;
    color: black;
    padding: 5px 15px 5px 15px;
}

.list-filters { 
    grid-area: side;
    width: 30%;
}
.goods { grid-area: good;}

h1 {
    font-size: 40px;
    margin: 0;
    margin-bottom: 3px;
}

/* -----active filters----- */

.active-filters {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.filter-icon {
    text-align: center;
    width: 70px;
    margin-top: 15px;
    margin-right: 2.5em;
    border: 1px solid black;
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    color: white;
    background-color: black;
}

/* -----filters----- */

.list-filters {
    display: flex;;
    
}

.one-filt {
    display: flex;
    flex-direction: row;
}

/* custom checkboxes */



/* slider price */

.slider-price {
    -webkit-appearance: none;
    width: 200px;
    height: 1px;
    background-color: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
 
.slider-price::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
}

.slider-price::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: black;
    cursor: pointer;
    border-radius: 50%;
}

/* -----goods----- */

.goods {
    display: grid;
    grid-gap: 10px;
}

.good-banner { 
    width: 100%;
    height: 200px;
    border-radius: 40px;
    display: flex;
    align-items: center;
}

.for-image {
    width: 35%;
    height: 80%;
    display: flex;
    background-color: #21455E;
    border-radius: 40px;
    margin-left: 2.5%;
    justify-content: center; 
    align-items: center;
}

img {
    width: 90%%;
    height: 100%;
}

.good-name {
    font-size: 15px;
}

.good-price { 
    font-weight: 800;
}

.good-avaliability {
    font-size: 12px;
}

.about-goods {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.good-buy {
    padding: 10px 40px 10px 40px;
    background-color: black;
    color: white;
    width: 85%;
    border-radius: 40px;

}

/* ----------footer---------- */

footer {
    background-color: black;
    color: white;
    display: flex;
    /* height: 30em; */
}

footer p {
    justify-content: center;
    align-items: center;
}

/* ~~~~~~~~~~card~~~~~~~~~~ */

.product-page {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.product-image-div {
    background-color: #21455E;
    border-radius: 40px;
}



.about-product {
    display: flex;
    flex-direction: column;
}

.pakun {
    margin-left: 5%;
    margin-top: 1%;
}

.product-buy {
    padding: 10px 40px 10px 40px;
    background-color: black;
    color: white;
    width: 200px;
    border-radius: 40px;
}

.aboutt {
    width: 80%;
}

.comment {
    height: auto;
    width: 40%;
    display: flex;
    padding: 10px;
    background-color: rgba(236, 96, 0, 0.5);
    border: 1px solid black;
    margin-bottom: 5%;
}

.comment-text {
    margin-left: 2%;
}


h4, .user-comment {
    margin-top: 0;
    margin-bottom: 5px;
}

.user {
    height: 50px;
    width: 50px;
}