body {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: darkgrey;
    justify-content: center;
}

.calculator {
    height: 660px;
    width: 438px;
    background-color: aqua;
    border-radius: 10px;
    background-color: rgba(250, 250, 250, 1);
    display: flex;
    flex-direction: column;
}

.mode-chooser {
    margin: 5px;
    border-radius: 5px;
    height: 30px;
    width: 410px;
    background-color: rgba(232, 232, 232, 1);
}