/* --------main elements---------- */

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

h1 {
    color: rgb(48, 63, 77);
}

form {
    background-color: rgb(75, 95, 114);
    width: 45%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    width: 80%;
    height: 85%;
    background-color: rgb(119, 141, 165);
    border: 1px solid gray;
    position: relative;
    display: grid;
    grid-template-columns: 38% 38%;
    column-gap: 12%;
    padding: 20px;
}

/* --------side menu---------- */

.side-menu {
    background-color: rgb(46, 58, 70);
    height: 55%;
    width: 8%;
    border-radius: 0 15px 15px 0;
    padding: 5px;
}

img {
    width: 40px;
    height: 40px;
    margin: 10px ;
}

/* --------inside elements---------- */

/* --------slider---------- */


.dark {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    top: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: #2cbb74;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2cbb74;
}
  
input:checked + .slider:before {
    transform: translateX(26px);
}
  
/* ----------colors---------- */

.color-ch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.color-choose input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.checkmark.blue {
    background-color: #2196F3;
}

.checkmark.green {
    background-color: #21d6be;
}

.checkmark.pink {
    background-color: #d255dd;
}

.checkmark.yellow {
    background-color: #d4df73;
}

.checkmark.orange {
    background-color: #e49439;
}

.color-choose:hover input ~ .checkmark {
    border: 2px solid white;
}

.checkmark:after {
    content: "";
    position: absolute;
    left: 6px;
    top: 2px;
    display: none;
    color: white;
}
  
.color-choose input:checked ~ .checkmark:after {
    display: block;
}
  
.color-choose .checkmark:after {
    content: "✓";
}

/* ----------size---------- */
.size-signs {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}


.big-A {
    font-size: 20px;
    margin: 0;
}

 .small-a {
    margin: 0;
 }

.slider-size {
    -webkit-appearance: none;
    width: 100%;
    height: 1px;
    background-color: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
 
.slider-size::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background-color: #04AA6D;
    border-radius: 50%;
    cursor: pointer;
}

.slider-size::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
    border-radius: 50%;
}